<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div>
    <button onclick="changeDuration('1s');">1s</button>
    <button onclick="changeDuration('1m');">1m</button>
    <button onclick="changeDuration('5m');">5m</button>
    <button onclick="changeDuration('15m');">15m</button>
    <button onclick="changeDuration('1h');">1h</button>
</div>

<div>
    SMA <input id="inputSma" type="checkbox">
    Period<input id="inputSmaPeriod1" type="text" value="7" style="width: 15px;">
    <input id="inputSmaPeriod2" type="text" value="14" style="width: 15px;">
    <input id="inputSmaPeriod3" type="text" value="50" style="width: 15px;">
</div>

<div>
    EMA <input id="inputEma" type="checkbox">
    Period<input id="inputEmaPeriod1" type="text" value="7" style="width: 15px;">
    <input id="inputEmaPeriod2" type="text" value="14" style="width: 15px;">
    <input id="inputEmaPeriod3" type="text" value="50" style="width: 15px;">
</div>

<div>
    BBands <input id="inputBBands" type="checkbox">
    N <input id="inputBBandsN" type="text" value="20" style="width: 15px;">
    K <input id="inputBBandsK" type="text" value="2" style="width: 15px;">
</div>

<div id="dashboard_div">
    <div id="chart_div"></div>
    <div id="filter_div"></div>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
